---
import Layout from "../layouts/Layout.astro"
import {sql} from "../util/db"
import {GET as getLatestVersion} from "./latest.json"
import type {VersionInfo} from "../util/types"
import Changelog from "../components/Changelog.astro"
import Instructions from "../components/Instructions.astro"

const pageDesc =
    "RLCM is a small application with multiple " +
    "features related to Rayman Legends challenges"

async function fetchDownloadCount(): Promise<number> {
    const downloads = await sql`select count(*)
                                from downloads`
    return Number(downloads[0].count) + Number(process.env.INIT_COUNT ?? 0)
}

async function fetchLatestVersion(): Promise<VersionInfo> {
    const res = await getLatestVersion()
    return await res.json()
}

const [downloadCount, latestVersion] =
    await Promise.all([fetchDownloadCount(), fetchLatestVersion()])
---

<Layout title="RL Challenge Manager" description={pageDesc}>
    <header class="main-header">
        <h1>RLCM</h1>
        <p>Rayman&nbsp;Legends Challenge&nbsp;Manager</p>
    </header>

    <section id="dl">
        <a href={latestVersion.url} id="downloadButton" data-version={latestVersion.name}>
            <i class="fas fa-download"/>
            Download version {latestVersion.name}
        </a>
        <p>Download count: <span id="count">{downloadCount}</span></p>
    </section>

    <details id="instructions">
        <summary>
            <h2>Instructions</h2>
        </summary>
        <Instructions/>
    </details>

    <details id="changelog">
        <summary>
            <h2>Changelog</h2>
        </summary>
        <Changelog/>
    </details>

    <section id="links">
        <a href={`https://github.com/${process.env.GITHUB_REPO}`} target="_blank">
            <i class="fab fa-github"/>
            GitHub
        </a>
        <a href={process.env.DISCORD_URL} target="_blank">
            <i class="fab fa-discord"/>
            Discord
        </a>
    </section>
</Layout>

<script>
    const downloadButton = document.getElementById("downloadButton") as HTMLElement
    const downloadCount = document.getElementById("count") as HTMLElement

    downloadButton.addEventListener("click", async () => {
        await fetch(`/download/${downloadButton.dataset.version}`)
        const count = parseInt(downloadCount.innerText)
        downloadCount.innerText = (count + 1).toString()
    })
</script>

<style>
    @import url("https://fonts.googleapis.com/css?family=Spartan:100&display=swap");
    @import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap");
    @import url("https://use.fontawesome.com/releases/v5.12.1/css/all.css");

    body {
        font-family: "Open Sans Condensed", sans-serif;
        font-size: 1.6em;
        color: slategray;
        background: ghostwhite;
        text-align: center;
        --accent-clr: #8cb;
        --accent-clr-alt: #9dc;
    }

    :global(a) {
        text-decoration: none;
        color: cornflowerblue;
    }

    :global(a):hover {
        text-decoration: underline;
        color: orange;
    }

    i {
        padding-right: 10px;
    }

    .main-header {
        margin-top: 50px;
    }

    .main-header p {
        font-size: 1.46em;
        margin: 0;
    }

    h1 {
        font-family: Spartan, sans-serif;
        font-size: 6em;
        font-weight: normal;
        margin: 0;
        padding-top: 50px;
        line-height: 0.75;
    }

    #dl {
        margin-top: 100px;
        margin-bottom: 60px;
    }

    #dl a {
        text-transform: uppercase;
        background: var(--accent-clr);
        color: white;
        text-decoration: none;
        padding: 15px;
        border-radius: 5px;
        white-space: nowrap;
    }

    #dl a:hover {
        background: var(--accent-clr-alt);
    }

    #dl p {
        font-size: 0.8em;
        padding-top: 20px;
    }

    details {
        font-size: 0.75em;
        max-height: 4em;
        margin: auto;
        padding: 0 0.6em;
        text-align: left;
        overflow: hidden;
        transition: max-height 1.5s ease-out;
    }

    details[open] {
        max-height: 1900px;
    }

    summary {
        font-size: 1.3em;
        user-select: none;
        cursor: pointer;
        width: fit-content;
        margin: auto;
        padding: 0 1em;
    }

    summary h2 {
        font-size: 1em;
        font-weight: normal;
        margin: 0.4em 0;
        padding-left: 0.2em;
        display: inline-block;
        text-transform: uppercase;
    }

    summary:hover {
        color: var(--accent-clr);
    }

    #links {
        display: inline-flex;
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    #links a {
        color: inherit;
        text-decoration: none;
        margin: 15px;
    }

    #links a:hover {
        color: var(--accent-clr);
    }

    @media (max-width: 540px) {
        .main-header {
            margin-top: 20px;
        }

        h1 {
            font-size: 5em;
        }
    }

    @media (max-width: 480px) {
        h1 {
            font-size: 3.8em;
        }

        #dl {
            margin-top: 75px;
            margin-bottom: 75px;
        }
    }

    @media (prefers-color-scheme: dark) {
        body {
            color: #bcd;
            background: #30303a;
            --accent-clr: #598;
            --accent-clr-alt: #487;
        }
    }
</style>
